@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
}

@layer utilities {
  .shadow-outline {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  .states {
    @apply grid grid-cols-2 bg-[#edebef];
  }

  .state {
    @apply flex flex-col shrink-1 grow-1 basis-37.5 justify-center items-center py-4 px-2.5 lg:px-5 xl:px-8;
  }

  .stat {
    @apply py-3.5 px-2.5;
  }

  .state:nth-child(1),
  .state:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  .state:nth-child(2),
  .state:nth-child(4) {
    border-left: 1px solid rgba(0, 0, 0, 0.08);
  }

  .stat__number {
    @apply text-[clamp(.7rem,3.5vw,1.3rem)] text-gray-700 font-semibold mt-2.5 sm:font-bold md:text-[clamp(.7rem,3.5vw,2rem)];
  }

  .second-heading {
    @apply text-[clamp(.5rem,3.5vw,1rem)] uppercase tracking-[2px] font-medium text-gray-500;
  }

  .color-red {
    @apply text-red-500;
  }

  .color-green {
    @apply text-green-500;
  }
}
